*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, sans-serif ;


}

.flex{
    display: flex;
}

body{
    background-color:#FEED9F;
    color:#333333 ;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:goldenrod;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

.logo{
    font-size: 1.5em;
    font-weight: bold;
    color: #f2c71c

}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f2c71c;
}

/* Main Section */
.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #fff;
}

.content {
    /* max-width: 50%; */
    text-align: center;
   
}

.content h1 {
    font-size: 3em;
    color:#504c14;
}

.content h1 span {
    color: #504c14;
    font-weight: bold;
}

.content p {
    margin: 20px 0;
    line-height: 1.6;
    color: #666;
    
}

.learn-more {
    padding: 10px 20px;
    background-color: #f2c71c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.learn-more:hover {
    background-color: #f2d337;
}

/* Illustration */
.illustration {
    max-width: 50%;
    display: flex;
    justify-content: start;
}

.illustration img {
    width: 100%;
    height: auto;
    margin-left: 100%;
    
     
    
}

#search-query {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
}

#search-button {
    padding: 10px;
}

#video-results {
    margin-top: 20px;
}

#video-results div {
    margin-bottom: 10px;
}

#video-results a {
    color: #3498db;
    text-decoration: none;
    font-size: 18px;
}

#video-results a:hover {
    text-decoration: underline;
}
